<a href="https://colab.research.google.com/github/anushka-code/Clima-Flutter/blob/master/Code_Smell_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Left Branch of the NN-Architecture : CNN for Structural Object Oriented Metrics Feature Extraction

###Mounting Google Drive

In [ ]:
!pip install -U -q PyDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
    
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import numpy as np
import pandas as pd

Long Parameters Dataset

In [ ]:
link = 'https://drive.google.com/file/d/1EfbAqgr7i9h4yFwEoU3igG34Gt48l6WT/view?usp=sharing'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('long_parameters_list_structural.csv')  
  
df_lp = pd.read_csv('long_parameters_list_structural.csv')
df_lp.head(5)

   NOP_method  CC_method  ... LOC_project is_long_parameters_list
0           0          0  ...       65687                   False
1           0          0  ...       65687                   False
2           1          0  ...       65687                   False
3           0          5  ...       65687                   False
4           1          0  ...       65687                   False

[5 rows x 57 columns]

Switch Statements Dataset

In [ ]:
link= 'https://drive.google.com/file/d/1Ya1OMWsz1yyXAaZheIck-roX0M9UWiqg/view?usp=sharing'
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('switch_statements_structural.csv')  
  
df_ss = pd.read_csv('switch_statements_structural.csv')
df_ss.head(5)

   NOP_method  CC_method  ... LOC_project is_switch_statements
0           1          2  ...       65687                False
1           0          0  ...       65687                False
2           2          0  ...       65687                False
3           0          0  ...       65687                False
4           0          0  ...       65687                False

[5 rows x 57 columns]

### Data Pre-Processing of the Code Smell Datasets

In [ ]:
import numpy as np
df_lp.rename(columns = {'is_long_parameters_list':'is_code_smell'}, inplace = True)
df_lp["is_code_smell"] = df_lp["is_code_smell"].astype(int)
Y_lp = df_lp.iloc[:,-1:]
X_lp = df_lp.iloc[:,:56]
X_lp = X_lp.replace(to_replace =["?"], value = np.nan)
X_lp = X_lp.astype(float)

In [ ]:
X_lp.head(5)

   NOP_method  CC_method  ...  NOMNAMM_project  LOC_project
0         0.0        0.0  ...           4778.0      65687.0
1         0.0        0.0  ...           4778.0      65687.0
2         1.0        0.0  ...           4778.0      65687.0
3         0.0        5.0  ...           4778.0      65687.0
4         1.0        0.0  ...           4778.0      65687.0

[5 rows x 56 columns]

In [ ]:
Y_lp.head(5)

   is_code_smell
0              0
1              0
2              0
3              0
4              0

In [ ]:
X_lp.shape

(420, 56)

In [ ]:
Y_lp.shape

(420, 1)

In [ ]:
import numpy as np
df_ss.rename(columns = {'is_switch_statements':'is_code_smell'}, inplace = True)
df_ss["is_code_smell"] = df_ss["is_code_smell"].astype(int)
Y_ss = df_ss.iloc[:,-1:]
X_ss = df_ss.iloc[:,:56]
X_ss = X_ss.replace(to_replace =["?"], value = np.nan)
X_ss = X_ss.astype(float)

In [ ]:
X_ss.head(5)

   NOP_method  CC_method  ...  NOMNAMM_project  LOC_project
0         1.0        2.0  ...           4778.0      65687.0
1         0.0        0.0  ...           4778.0      65687.0
2         2.0        0.0  ...           4778.0      65687.0
3         0.0        0.0  ...           4778.0      65687.0
4         0.0        0.0  ...           4778.0      65687.0

[5 rows x 56 columns]

In [ ]:
Y_ss.head(5)

   is_code_smell
0              0
1              0
2              0
3              0
4              0

In [ ]:
X_ss.shape

(420, 56)

In [ ]:
Y_ss.shape

(420, 1)

### Concatenating the Datasets

In [ ]:
import pandas as pd
code_smells = [X_lp, X_ss]
X_train = pd.concat(code_smells)
type(X_train)

pandas.core.frame.DataFrame

In [ ]:
X_train.shape

(840, 56)

In [ ]:
import pandas as pd
labels = [Y_lp, Y_ss]
Y_train = pd.concat(labels)
type(Y_train)

pandas.core.frame.DataFrame

In [ ]:
Y_train.shape

(840, 1)

In [ ]:
Y_train['is_code_smell'].value_counts()

0    573
1    267
Name: is_code_smell, dtype: int64

###SMOTE's Algorithm - For Oversampling

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 419
Data columns (total 56 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NOP_method         840 non-null    float64
 1   CC_method          840 non-null    float64
 2   ATFD_method        835 non-null    float64
 3   FDP_method         835 non-null    float64
 4   CM_method          840 non-null    float64
 5   MAXNESTING_method  840 non-null    float64
 6   LOC_method         840 non-null    float64
 7   CYCLO_method       840 non-null    float64
 8   NMCS_method        840 non-null    float64
 9   NOLV_method        840 non-null    float64
 10  MaMCL_method       840 non-null    float64
 11  NOAV_method        835 non-null    float64
 12  LAA_method         835 non-null    float64
 13  FANOUT_method      840 non-null    float64
 14  CFNAMM_method      840 non-null    float64
 15  ATLD_method        835 non-null    float64
 16  CLNAMM_method      840 non-null    float64
 17  CINT_method        840 non-null    float64
 18  MeMCL_method       840 non-null    float64
 19  CDISP_method       840 non-null    float64
 20  NOII_type          840 non-null    float64
 21  NOAM_type          840 non-null    float64
 22  NOCS_type          840 non-null    float64
 23  NOM_type           840 non-null    float64
 24  NMO_type           757 non-null    float64
 25  ATFD_type          840 non-null    float64
 26  FANOUT_type        840 non-null    float64
 27  NOMNAMM_type       840 non-null    float64
 28  NOA_type           840 non-null    float64
 29  NIM_type           757 non-null    float64
 30  DIT_type           807 non-null    float64
 31  LOC_type           840 non-null    float64
 32  LOCNAMM_type       840 non-null    float64
 33  CFNAMM_type        840 non-null    float64
 34  TCC_type           840 non-null    float64
 35  NOPA_type          840 non-null    float64
 36  CBO_type           840 non-null    float64
 37  RFC_type           840 non-null    float64
 38  NOC_type           830 non-null    float64
 39  WMC_type           840 non-null    float64
 40  LCOM5_type         840 non-null    float64
 41  WOC_type           776 non-null    float64
 42  WMCNAMM_type       840 non-null    float64
 43  AMW_type           840 non-null    float64
 44  AMWNAMM_type       840 non-null    float64
 45  NOCS_package       840 non-null    float64
 46  NOMNAMM_package    840 non-null    float64
 47  NOI_package        840 non-null    float64
 48  LOC_package        840 non-null    float64
 49  NOM_package        840 non-null    float64
 50  NOPK_project       840 non-null    float64
 51  NOCS_project       840 non-null    float64
 52  NOI_project        840 non-null    float64
 53  NOM_project        840 non-null    float64
 54  NOMNAMM_project    840 non-null    float64
 55  LOC_project        840 non-null    float64
dtypes: float64(56)
memory usage: 374.1 KB

###Data Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# compute required values
scaler = MinMaxScaler()
model = scaler.fit(X_train)
X_train = model.transform(X_train)

In [ ]:
X_train_final = X_train.reshape((840,56,1))

### 1-D CNN Implementation

In [ ]:
import pandas as pd
import numpy as np
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Input, Convolution1D, MaxPooling1D, Flatten, Dense, Dropout
from keras.utils import np_utils

In [ ]:
model = Sequential()
model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh', input_shape=(56,1)))
model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh'))
model.add(Convolution1D(filters=128, kernel_size=5, activation='tanh'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

#check pretrained models for feature extraction of CNN 2d data 
#which is good for numerical data
#modelfit xd boost (better version)
#imbalanced data - synthetic data addition 
#random forest

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_9 (Conv1D)           (None, 54, 128)           512

 conv1d_10 (Conv1D)          (None, 52, 128)           49280

 conv1d_11 (Conv1D)          (None, 48, 128)           82048

 max_pooling1d_5 (MaxPooling  (None, 24, 128)          0
 1D)

 flatten_3 (Flatten)         (None, 3072)              0

 dense_3 (Dense)             (None, 1)                 3073

=================================================================
Total params: 134,913
Trainable params: 134,913
Non-trainable params: 0
_________________________________________________________________

In [ ]:
hist = model.fit(X_train_final,Y_train,epochs=50,shuffle=True,batch_size=50,validation_split=0.20)

Epoch 1/50
14/14 [==============================] - 2s 124ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 2/50
14/14 [==============================] - 2s 110ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 3/50
14/14 [==============================] - 1s 95ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 4/50
14/14 [==============================] - 1s 101ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 5/50
14/14 [==============================] - 2s 126ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 6/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 7/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 8/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 9/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 10/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 11/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 12/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 13/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 14/50
14/14 [==============================] - 1s 64ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 15/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 16/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 17/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 18/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 19/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 20/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 21/50
14/14 [==============================] - 1s 64ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 22/50
14/14 [==============================] - 1s 64ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 23/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 24/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 25/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 26/50
14/14 [==============================] - 1s 65ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 27/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 28/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 29/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 30/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 31/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 32/50
14/14 [==============================] - 1s 60ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 33/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 34/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 35/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 36/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 37/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 38/50
14/14 [==============================] - 1s 64ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 39/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 40/50
14/14 [==============================] - 1s 61ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 41/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 42/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 43/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 44/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 45/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 46/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 47/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 48/50
14/14 [==============================] - 1s 64ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 49/50
14/14 [==============================] - 1s 62ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024
Epoch 50/50
14/14 [==============================] - 1s 63ms/step - loss: nan - accuracy: 0.6771 - val_loss: nan - val_accuracy: 0.7024